h1{
    text-align: center;
}
body{
    /* text-align: center; */
    background-color: aquamarine;
}
.container
{
    background-color: #b0ece9;
      padding: 70px;
      border-radius: 5px;
      max-width: 300px;
      margin: 0 auto;
}
label{
    background-color: rgb(158, 241, 202);
    text-align: center;
    font-size: 110%;
}
#calculate{
    margin-top: 10%;
    border-radius: 5px;
}
